<h2>Player Details</h2>

<div class="player-image"> 
    <img src="<%= details['strThumb'] %>" alt="<%= details['strThumb']%>" >
</div>

<div class="nominee-button">
    <form method="POST" action="/user/nominees">
        <input hidden type="text" name="name" value="<%= details['strPlayer'] %>">
        <input hidden type="text" name="team" value="<%= details['strTeam'] %>">
        <button class="btn btn-primary" type="submit">Add to Nominees List</button>
    </form>
</div>

<ul class="details">
    <li> Name:
        <%= details['strPlayer'] %>
    </li>

    <li> Nationality: 
        <%= details['strNationality'] %>
    </li>

    <li> Date of Birth:
        <%= details['dateBorn'] %>
    </li>

    <li> League: 
        <%= details['strLeague'] %>
    </li>

    <li> Team:
        <%= details['strTeam'] %>
    </li>

    <li> Player Number:
        <%= details['strNumber'] %>
    </li>

    <li> Position:
        <%= details['strPosition'] %>
    </li>

    <li> Height:
        <%= details['strHeight'] %>
    </li>

    <li> Weight:
        <%= details['strWeight'] %>
    </li>

    <li> Date Signed:
        <%= details['dateSigned'] %>
    </li>

    <li> Wage:
            <%= details['strWage'] %>
    </li>

    <li> Background Info:
        <div class="background-info">
            <%= details['strDescriptionEN'] %>
        </div>
    </li>

    <li> Social Media:
    <a href="https://<%= details['strInstagram'] %>">Instagram</a>
    </li>

</ul>