<h2>Display all details for specific player here</h2>

<img src="<%= details['strThumb'] %>" class="img-fluid" alt="<%= details['strThumb']%>">

<!-- delete nominee button -->
<!-- functional -->
<form action="/user/nominees/<%= nominee.id %>/?_method=DELETE" method="POST">
    <input type="submit" value="Delete Nominee">
</form>

<ul class="details">
    <li> Name:
        <%= details['strPlayer'] %>
    </li>
    <li> Nationality: 
        <%= details['strNationality'] %>
    </li>
    <li> Date of Birth:
        <%= details['dateBorn'] %>
    </li>
    <li> Team:
        <%= details['strTeam', 'strNumber'] %>
    </li>
    <li> Position:
        <%= details['strPosition'] %>
    </li>
    <li> Height:
        <%= details['strHeight'] %>
    </li>
    <li> Weight:
        <%= details['strWeight'] %>
    </li>
    <li> Date Signed:
        <%= details['dateSigned'] %>
    </li>
    <li> Wage:
        <div>
            <%= details['strWage'] %>
        </div>
    </li>
    <li> Background Info:
        <div>
            <%= details['strDescriptionEN'] %>
        </div>
    </li>
    <li> Link to:
        <a href="https://<%= details['strInstagram'] %>">Instagram</a>
    </li>
</ul>

<!-- create note section -->
<!-- not functional -->
<!-- <div id="respond">
  
    <form action="/user/nominees" method="POST">
  
      <label for="comment" class="required">Add Your Personal Notes Here</label>

      <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required" type="text">laskjdflkjsldfkjlaskjdf</textarea>

      <input name="submit" type="submit" value="Add Notes" /> -->

    <form action="/user/nominees/comment" method="POST">
    <div class="form-group">
        <label for="comment">comment</label>
        <input type="text" class="form-control" id="comment" name="comment" required>
    
        <div class="form-group">
        <input type="hidden" class="form-control" id="userId" name="userId" value="<%= user.id %>">
        </div>
    
        <div class="form-group">
        <input type="hidden" class="form-control" id="nomineeId" name="nomineeId" value="<%= nominee.id %>">
        </div>
    
        <div class="form-group">
        <input type="hidden" class="form-control" id="email" name="email" value="<%= user.email %>">
        </div>
    </div>
    <input type="submit" class="btn btn-primary">
    </form>










      
      <!-- delete note button -->
      <!-- not functional -->
      <form action="/user/nominees/<%= details['strTeam'] %>/<%= details['strPlayer'] %>/?_method=DELETE" method="POST">
          <input type="submit" value="Delete Note not functional">
      </form>
    </form>
  </div>


