<h2>Display all details for specific player here</h2>

<img src="<%= details['strThumb'] %>" class="img-fluid" alt="<%= details['strThumb']%>">

  <!-- delete nominee button -->
<!-- functional -->
<form action="/user/nominees/<%= nominee.id %>/?_method=DELETE" method="POST">
    <input type="submit" value="Delete Nominee">
</form>

<ul class="details">
    <li> Name:
        <%= details['strPlayer'] %>
    </li>
    <li> Nationality: 
        <%= details['strNationality'] %>
    </li>
    <li> Date of Birth:
        <%= details['dateBorn'] %>
    </li>
    <li> Team:
        <%= details['strTeam', 'strNumber'] %>
    </li>
    <li> Position:
        <%= details['strPosition'] %>
    </li>
    <li> Height:
        <%= details['strHeight'] %>
    </li>
    <li> Weight:
        <%= details['strWeight'] %>
    </li>
    <li> Date Signed:
        <%= details['dateSigned'] %>
    </li>
    <li> Wage:
        <div>
            <%= details['strWage'] %>
        </div>
    </li>
    <li> Background Info:
        <div>
            <%= details['strDescriptionEN'] %>
        </div>
    </li>
    <li> Link to:
        <a href="https://<%= details['strInstagram'] %>">Instagram</a>
    </li>
</ul>

<!-- create note section -->
<!-- not functional -->
<div id="respond">
  
    <form action="/user/nominees" method="POST" id="commentform">
  
      <label for="comment" class="required">Add Your Personal Notes Here</label>
      <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
  
      <!-- comment value hard-coded as 1 -->
      <input type="hidden" name="comment" value="1" id="comment" />
      <input name="submit" type="submit" value="Add Notes" />
      <!-- delete note button -->
      <!-- not functional -->
      <form action="/user/nominees/<%= details['strTeam'] %>/<%= details['strPlayer'] %>/?_method=DELETE" method="POST">
          <input type="submit" value="Delete Note not functional">
      </form>
    </form>
  </div>


