<h2>Display all details for specific player here</h2>

<ul class="details">
    <li> 
        <img src="<%= details['strThumb'] %>" alt="<%= details['strThumb']%>" >
    </li>
    <li> Name:
        <%= details['strPlayer'] %>
    </li>
    <li> Nationality: 
        <%= details['strNationality'] %>
    </li>
    <li> Date of Birth:
        <%= details['dateBorn'] %>
    </li>
    <li> Team:
        <%= details['strTeam', 'strNumber'] %>
    </li>
    <li> Position:
        <%= details['strSide','strPosition'] %>
    </li>
    <li> Height:
        <%= details['strHeight'] %>
    </li>
    <li> Weight:
        <%= details['strWeight'] %>
    </li>
    <li> Date Signed:
        <%= details['dateSigned'] %>
    </li>
    <li> Wage:
        <div>
            <%= details['strWage'] %>
        </div>
    </li>
    <li> Background Info:
        <div>
            <%= details['strDescriptionEN'] %>
        </div>
    </li>
    <li> Social Media:
        <%= details['strFacebook','strTwitter','strInstagram'] %>
    </li>
</ul>