<h2>Display all details for specific player here</h2>

<!-- try to add carousel here -->

<img src="<%= details['strThumb'] %>" class="img-fluid" alt="<%= details['strThumb']%>">

<ul class="details">
    <li> Name:
        <%= details['strPlayer'] %>
    </li>
    <li> Nationality: 
        <%= details['strNationality'] %>
    </li>
    <li> Date of Birth:
        <%= details['dateBorn'] %>
    </li>
    <li> Team:
        <%= details['strTeam'] %>
    </li>  
    <li> Player Number:
        <%= details['strNumber'] %>
    </li>
    <li> Position:
        <%= details['strPosition'] %>
    </li>
    <li> Height:
        <%= details['strHeight'] %>
    </li>
    <li> Weight:
        <%= details['strWeight'] %>
    </li>
    <li> Date Signed:
        <%= details['dateSigned'] %>
    </li>
    <li> Wage:
        <div>
            <%= details['strWage'] %>
        </div>
    </li>
    <li> Background Info:
        <div>
            <%= details['strDescriptionEN'] %>
        </div>
    </li>
    <li> Link to:
        <a href="https://<%= details['strInstagram'] %>">Instagram</a>
    </li>
</ul>



<!-- comments will be posted here -->
<h2>COMMENTSSSSSSSS</h2>
<div class="comment">
    <% comment.forEach(element => { %>
    <li><%= element.comment %></li>
    <!-- delete note button -->
    <!-- not functional -->
    <form action="/user/nominees/<%= nominee.id %>/comment/?_method=DELETE" method="POST">
        <input id="note-delete-button" type="submit" value="Delete Note">
        <input hidden type="text" value="<%= element.id %>" name="commentId">
        <input hidden type="text" value="<%= element.comment %>" name="comment">
    </form>
    <% }) %>
</div>


<!-- text area to add notes -->
<!-- functional -->
<form action="/user/nominees/comment" method="POST">
<div class="form-group">
    <label for="comment">Add Your Personal Notes Here</label>
    <input type="text" class="form-control" id="comment" name="comment" required>

    <div class="form-group">
    <input type="hidden" class="form-control" id="userId" name="userId" value="<%= user.id %>">
    </div>

    <div class="form-group">
    <input type="hidden" class="form-control" id="nomineeId" name="nomineeId" value="<%= nominee.id %>">
    </div>

    <div class="form-group">
    <input type="hidden" class="form-control" id="email" name="email" value="<%= user.email %>">
    </div>
</div>
<input type="submit" class="btn btn-primary">
</form>

<!-- delete nominee button -->
<!-- functional -->
<form action="/user/nominees/<%= nominee.id %>/?_method=DELETE" method="POST">
    <input type="submit" value="Delete Nominee">
</form>




