<h2>Display all details for specific player here</h2>

<img src="<%= details['strThumb'] %>" alt="<%= details['strThumb']%>" >

<ul class="details">
    <li> Name:
        <%= details['strPlayer'] %>
    </li>
    <li> Nationality: 
        <%= details['strNationality'] %>
    </li>
    <li> Date of Birth:
        <%= details['dateBorn'] %>
    </li>
    <li> Team:
        <%= details['strTeam', 'strNumber'] %>
    </li>
    <li> Position:
        <%= details['strSide','strPosition'] %>
    </li>
    <li> Height:
        <%= details['strHeight'] %>
    </li>
    <li> Weight:
        <%= details['strWeight'] %>
    </li>
    <li> Date Signed:
        <%= details['dateSigned'] %>
    </li>
    <li> Wage:
        <div>
            <%= details['strWage'] %>
        </div>
    </li>
    <li> Background Info:
        <div>
            <%= details['strDescriptionEN'] %>
        </div>
    </li>
    <li> Link to:
        <a href="https://<%= details['strInstagram'] %>">Instagram</a>
    </li>
</ul>

<!-- text form -->
<div class="form-group">
    <label for="notes">Add Your Notes Here</label>
    <textarea type="text" class="form-control" id="notes" name="notes" required></textarea>
</div>

<!-- delete button -->
<form action="/user/nominees/<%= eachNominee.name %>/?_method=DELETE" method="post">
    <button type="submit">Delete</button>
</form>