<h1>All Teams in League</h1>

<!-- league widget -->
<div id="scoreaxis-widget-b03ad" style="border-width:1px;border-color:rgba(0, 0, 0, 0.15);border-style:solid;border-radius:8px;padding:10px;background:rgb(255, 255, 255);width:100%;background-color:#333333" data-reactroot=""><iframe id="Iframe" src="https://www.scoreaxis.com/widget/standings-widget/8?bodyBackground=%23333333&amp;textColor=%23ffffff&amp;inst=b03ad" style="width:100%;border:none;transition:all 300ms ease"></iframe><script>window.addEventListener("DOMContentLoaded",event=>{window.addEventListener("message",event=>{if(event.data.appHeight&&"b03ad"==event.data.inst){let container=document.querySelector("#scoreaxis-widget-b03ad iframe");container&&(container.style.height=parseInt(event.data.appHeight)+"px")}},!1)});</script></div>

<!-- <div id="wg-api-football-standings"
    data-host="v3.football.api-sports.io"
    data-league="39"
    data-team=""
    data-season="2020"
    data-key="${process.env.FOOTBALL_API_KEY}"
    data-theme=""
    data-show-errors="false"
    class="api_football_loader"></div>
<script
    type="module"
    src="https://widgets.api-sports.io/football/1.1.8/widget.js">
</script> -->

<% leagueTeams.forEach(team => { %>
    <div class="card">
        <img id="team-logos" src="<%= team.badge %>" alt="<%= team.name %>" width="180" height="180">
        <div class="card-body">
          <h3 class="card-title"><%= team.name %></h3>
        <!-- make team description collapsable -->
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseText" role="button" aria-expanded="false" aria-controls="collapseText">
              View Team Details
            </a>
          </p>
          <div class="collapse" id="collapseText">
            <div class="card card-body">
              <%= team.description %>
            </div>
          </div>

          <a href="/players/<%= team.name %>" class="btn btn-primary">View All Players in Team</a>
        </div>
    </div>
<% }) %>

